<launch>
    <node name="test_ssb_marker" pkg="tbf_gripper_viz" type="test_interactive_ssb_marker.py" respawn="false" output="screen">
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/smart_equipment.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/moveit_params.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/arm_params.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/hand_params.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/pose_client.yaml"/>
    </node>
</launch>