*.Rapp.*
*.DS_Store
*.idea
*.pyc
CMakeLists.txt.user
.catkin_tools
*.files
*.includes
*.workspace
*.user
tbf_gripper_perception/meshes/wlan_point_normals.ply
tbf_gripper_perception/meshes/wlan_blender2.stl
tbf_gripper_perception/output/
tbf_gripper_perception/visp-models/
*.bag
*.DS_Store
plots/