<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find tubaf_common)/launch/fix/fix_openni2.launch">
    <arg name="data_skip" value="15"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find tbf_gripper_perception)/urdf/exp.urdf.xacro'"/>
  <node name="dummy_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
  </node>
</launch>