<launch>
    <node name="equipment_handler" pkg="tbf_gripper_autonomy" type="EquipmentTask.py" respawn="false" output="screen">
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/equipment_task.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/hand_params.yaml"/>
    </node>

    <node pkg="tubaf_tools" type="marker_confirm.py" name="confirm_plan_marker" output="screen">
        <rosparam command="load" file="$(find tubaf_tools)/config/marker_confirm_default.yaml"/>
        <param name="service_ns" value="equipment_handler/confirm_plan"/>
        <param name="target_frame" value="gripper_robotiq_palm_planning"/>
    </node>
</launch>
