<launch>
    <arg name="ssb_detection_service_name"       default="locate_ssb_in_cloud"/>
    <arg name="cloud_topic"        default="/gripper_d435/depth_registered/points"/>
    <arg name="record"              default="false" />
    <arg name="node_name"   default="test_EquipmentTask" />

    <node name="$(arg node_name)" pkg="tbf_gripper_autonomy" type="EquipmentTask.py" respawn="false" output="screen">
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/se_ohne_henkel.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/moveit_params.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/arm_params.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/hand_params.yaml"/>
        <rosparam command="load" file="$(find tbf_gripper_autonomy)/config/pose_client.yaml"/>
        <param name="ssb_detection_service_name" value="$(arg ssb_detection_service_name)"/>
        <param name="cloud_topic" value="$(arg cloud_topic)"/>
        <param name="confirm_plan_service_ns" value="/$(arg node_name)/confirm_plan"/>
        <param name="min_detection_score" value="0.1" />
    </node>

    <node pkg="tubaf_tools" type="marker_confirm.py" name="$(arg node_name)_confirm_plan_marker" respawn="false" output="screen">
        <rosparam command="load" file="$(find tubaf_tools)/config/marker_confirm_move_planning.yaml"/>
        <param name="service_ns" value="/$(arg node_name)/confirm_plan"/>
    </node>
</launch>
