<?xml version="1.0"?>
<!--
	author: sgrehl
	proj: MiningRoX
	date: 26.02.2015
	desc: start ur5 with robotiq hand mounted, including a control interface and visualisation
-->
<launch>
    <arg name="hand_ip" default="192.168.2.23"/>
    <arg name="ur5_robot_ip" default="192.168.1.212"/>
    <arg name="ur5_reverse_port" default="50001"/>
    <arg name="ur5_min_payload" default="0.0"/>
    <arg name="ur5_max_payload" default="10.0"/>
    <arg name="ur5_max_velocity" default="10.0"/>
    <arg name="debug" default="false"/>
    <arg name="use_gui" default="false"/>

    <arg name="limited" default="true"/>
    <arg name="start_publisher" default="true"/>
    <arg name="start_driver" default="true"/>


    <arg name="cam" default="camera"/>
    <arg name="cam_image_topic" default="$(arg cam)/depth_registered/points"/>
    <arg name="cam_info_topic" default="$(arg cam)/rgb/camera_info"/>
    <arg name="output_frame" default="/camera_link"/>

    <!-- Bringup UR5 arm -->
    <include file="$(find tbf_gripper_launch)/launch/gripper_buero_description.launch">
        <arg name="start_publisher" value="$(arg start_publisher)"/>
    </include>


    <!-- driver -->
    <group if="$(arg start_driver)">
        <node name="ur_driver" pkg="ur_driver" type="driver.py" args="$(arg ur5_robot_ip) $(arg ur5_reverse_port)"
              output="screen">
            <param name="min_payload" type="double" value="$(arg ur5_min_payload)"/>
            <param name="max_payload" type="double" value="$(arg ur5_max_payload)"/>
            <param name="max_velocity" type="double" value="$(arg ur5_max_velocity)"/>
        </node>

        <!-- Bringup Robotiq Hand - listening @SModelRobotOutput-topic -->
        <include file="$(find tbf_gripper_launch)/launch/hand.launch" ns="tbf_hand">
            <arg name="hand_ip" value="$(arg hand_ip)"/>
        </include>
        <!-- hand description not needed as its part of the gripper_description-->

        <!-- Launch moveit -->
        <include file="$(find tbf_gripper_launch)/launch/gripper_move_it.launch"/>

        <!--run camera-->
        <include file="$(find openni2_launch)/launch/openni2.launch">
            <arg name="camera" default="$(arg cam)"/>
            <arg name="rgb_frame_id" default="$(arg cam)_rgb_optical_frame"/>
            <arg name="depth_frame_id" default="$(arg cam)_depth_optical_frame"/>
            <arg name="publish_tf" value="false"/>
        </include>
    </group>


    <!-- Load Visualisation -->
    <group if="$(arg use_gui)">
        <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"
              args="--perspective-file $(find tbf_gripper_rqt)/resource/RobotiqGripper.perspective"/>
    </group>
</launch>
