<?xml version="1.0"?>
<launch>
    <arg name="debug" default="false"/>
    <arg name="load_description" default="false"/>
    <arg name="ur5_use_controller" default="true"/>
    <arg name="set_goal_outside" default="false" />

    <include file="$(find tbf_gripper_buero_move_it)/launch/default_warehouse_db.launch"/>
    <include file="$(find tbf_gripper_buero_move_it)/launch/move_group.launch">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="allow_trajectory_execution" value="$(arg ur5_use_controller)"/>
    </include>
    <include unless="$(arg set_goal_outside)" file="$(find tbf_gripper_buero_move_it)/launch/planning_context.launch">
        <arg name="load_robot_description" value="$(arg load_description)"/>
    </include>

    <!-- TF Buffer Server  -->
    <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server">
        <param name="buffer_size" value="120.0"/>
    </node>

</launch>