<?xml version="1.0"?>
<!--
	author: sgrehl
	proj: MiningRoX
	date: 08.12.2015
	desc: start ur5 with robotiq hand mounted, including a control interface and visualisation for julius
-->
<launch>
    <!-- Robotiq 3F Gripper -->
    <arg name="start_hand" default="true" />
    <arg name="hand_ip" default="192.168.1.111"/>

    <!-- UR5 robot arm -->
    <arg name="start_ur5" default="false"/>
    <arg name="ur5_robot_ip" default="192.168.1.110"/>
    <arg name="ur5_reverse_port" default="50001"/>
    <arg name="ur5_min_payload" default="0.0"/>
    <arg name="ur5_max_payload" default="5.0"/>
    <arg name="ur5_max_velocity" default="10.0"/>
    <arg name="ur5_servoj_time" default="0.008" />
    <arg name="ur5_set_goal_outside" default="false" />

    <!-- Xtion RGB-D camera -->
    <arg name="start_rgbd" default="true" />
    <arg name="device_id" default=""/>
    <arg name="cam" default="gripper_camera"/>
    <arg name="data_skip" default="1"/>
    <arg name="compute_cloud" default="true"/>
    <arg name="use_driver" default="true"/>
    <arg name="color_depth_synchronization" default="true"/>

    <arg name="cam_image_topic" default="$(arg cam)/depth_registered/points"/>
    <arg name="cam_info_topic" default="$(arg cam)/rgb/camera_info"/>
    <arg name="output_frame" default="/camera_link"/>
    <arg name="publish_tf" default="false" />

    <!-- MoveIt settings-->
    <arg name="start_moveit" default="false"/>

    <!--RtabMap-->
    <arg name="start_rtab" default="true"/>

    <!-- General Software Settings-->
    <arg name="debug" default="false"/>
    <arg name="use_gui" default="false"/>
    <arg name="sim" default="false"/>

    <!-- Description options-->
    <arg name="gripper_prefix" default="gripper_ur5_" />
    <arg name="gripper_hand_prefix" default="gripper_robotiq_" />
    <arg name="limited" default="true"/>


    <!-- Launch options-->
    <arg name="start_driver" default="true"/>
    <arg name="modern_driver" default="true"/>
    <arg name="start_description" default="true"/>
    <arg name="start_jsp" default="true"/>

    <!--__________________________________________________________-->

    <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find tbf_gripper_launch)/config/rosconsole.conf"/>

    <!-- 0. Set-Up -->
    <!--<include file="$(find julius)/launch/description.launch" if="$(arg start_description)" />-->
    <!--<node name="jsp" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg start_jsp)">-->
        <!--<rosparam subst_value="true">-->
            <!--source_list:-->
            <!-- - /$(arg gripper_prefix)joint_states-->
            <!-- - /$(arg gripper_hand_prefix)hand_joint_states-->
        <!--</rosparam>-->
    <!--</node>-->

    <!-- 2. 3F Gripper -->
    <group if="$(arg start_hand)">
        <!-- Bringup Robotiq Hand - listening @SModelRobotOutput-topic -->
        <include file="$(find tbf_gripper_launch)/launch/hand.launch">
            <arg name="hand_ip" value="$(arg hand_ip)"/>
            <arg name="prefix" value="$(arg gripper_hand_prefix)"/>
        </include>

        <!-- Bringup Robotiq Hand - listening @SModelRobotOutput-topic -->
        <node name="imod_hand_tcp_controller" pkg="tbf_gripper_hand" type="HandTcpInterface">
            <param name="server_ip" value="192.168.1.238"/>
            <param name="port" value="59995"/>
        </node>
    </group>

    <!-- 3. RGB-D camera -->
    <group if="$(arg start_rgbd)">
        <include file="$(find tubaf_common)/launch/fix/fix_openni2.launch">
            <arg name="camera" value="$(arg cam)"/>
            <arg name="device_id" value="$(arg device_id)"/>

            <arg name="data_skip" value="$(arg data_skip)"/>
            <arg name="publish_tf" value="false"/>

            <arg name="depth_registration" value="$(arg compute_cloud)"/>
            <arg name="depth_registered_processing" value="$(arg compute_cloud)"/>
            <arg name="color_depth_synchronization" value="$(arg color_depth_synchronization)" />

            <arg name="rgb_camera_info_url" value="file://$(find tubaf_common)/camera_info/xtion1_calib_rgb.yaml"/>
            <arg name="depth_camera_info_url" value="file://$(find tubaf_common)/camera_info/xtion1_calib_depth.yaml"/>


            <!--<arg name="rgb_frame_id" default="$(arg cam)_rgb_optical_frame"/>-->
            <!--<arg name="depth_frame_id" default="$(arg cam)_depth_optical_frame"/>-->

            <arg name="load_driver" value="$(arg use_driver)" />
        </include>

    </group>

    <group if="$(arg start_rtab)" ns="rtabmap">
    <!--http://wiki.ros.org/rtabmap_ros/Tutorials/SetupOnYourRobot-->
    <!-- Odometry -->
        <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
          <remap from="rgb/image"       to="/gripper_camera/rgb/image_rect_color"/>
          <remap from="depth/image"     to="/gripper_camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info" to="/gripper_camera/rgb/camera_info"/>

          <param name="frame_id" type="string" value="base_link"/>
        </node>

        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
              <param name="frame_id" type="string" value="base_link"/>
              <param name="subscribe_depth" type="bool" value="true"/>

              <remap from="odom" to="odom"/>
              <remap from="rgb/image" to="/gripper_camera/rgb/image_rect_color"/>
              <remap from="depth/image" to="/gripper_camera/depth_registered/image_raw"/>
              <remap from="rgb/camera_info" to="/gripper_camera/rgb/camera_info"/>

              <param name="queue_size" type="int" value="10"/>

              <!-- RTAB-Map's parameters -->
              <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
              <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
              <param name="Rtabmap/TimeThr" type="string" value="700"/>
              <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
              <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
        </node>
    </group>

    <include file="$(find tubaf_imod)/launch/ur5_listener.launch">
        <arg name="prefix" value="gripper_ur5_"/>
        <arg name="port" value="33997"/>
    </include>

    <!-- 6. RVis -->
    <group if="$(arg use_gui)">
        <!-- Launch moveit-Rviz -->
        <include file="$(find tbf_gripper_julius_move_it)/launch/moveit_rviz.launch">
            <arg name="config" default="true"/>
        </include>
    </group>

</launch>