<?xml version="1.0"?>
<!--
	author: sgrehl
        proj: ARIDuA
        date: 18.10.2019
        desc: test the hand action server and client
-->
<launch>
  <arg name="hand_ip" default="192.168.1.111"/>
  <arg name="prefix" default="gripper_robotiq_"/>

  <arg name="group_name" default="hand" />
  <arg name="gripper_name" default="Robotiq3FGripperRobot" />
  <arg name="gripper_action_name" default="gripper_action" />


  <group ns="$(arg group_name)">
    <!-- Bringup Robotiq Hand - listening @Robotiq3FGripperRobotOutput-topic -->
    <node name="$(arg gripper_action_name)_tcp" pkg="robotiq_3f_gripper_control" type="Robotiq3FGripperTcpNode.py" args="$(arg hand_ip)" respawn="true" output="screen"/>

    <!-- translate the states from robotiq to ROS -->
    <node name="joint_states_translate_hand" pkg="tbf_gripper_hand" type="RobotiqJointStatePublisher.py">
      <param name="sub_topic" value="$(arg gripper_name)Input"/>
      <param name="pub_topic" value="joint_states"/>
      <param name="prefix" value="$(arg prefix)"/>
    </node>

    <!-- start action server (own implementation) -->
    <node name="$(arg gripper_action_name)_server" pkg="tbf_gripper_hand" type="robotiqgripper_server" respawn="false"
          output="screen">
      <rosparam command="load" file="$(find julius_base)/config/hand_params.yaml"/>
    </node>

    <!-- start action client (own implementation) -->
    <node name="$(arg gripper_action_name)_client" pkg="tbf_gripper_hand" type="robotiqgripper_client" respawn="false"
          output="screen">
      <rosparam command="load" file="$(find julius_base)/config/hand_params.yaml"/>
    </node>
  </group>
</launch>
