<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <arg name="pos" default="true"/>

  <arg name="robot_ip" default="192.168.1.150"/>
  <arg name="limited" default="false"/>
  <arg name="min_payload" default="0.0"/>
  <arg name="max_payload" default="5.0"/>
  <arg name="max_velocity" default="2.0"/> <!-- [rad/s] -->
  <!-- robot model -->

  <group ns="ur5">
    <rosparam file="$(find julius)/config/ur5_controllers_julius.yaml" command="load"/>
    <!-- Load hardware interface, this also spawns the controller manager -->
    <node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="screen"
          launch-prefix="$(arg launch_prefix)">
      <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
      <param name="min_payload" type="double" value="$(arg min_payload)"/>
      <param name="max_payload" type="double" value="$(arg max_payload)"/>
      <param name="max_velocity" type="double" value="$(arg max_velocity)"/>
      <param name="use_ros_control" type="bool" value="True"/>
    </node>

    <node name="load_base" pkg="tubaf_common" type="ros_control_cli.py" respawn="false"
          output="screen" args="-b joint_state_controller -b force_torque_sensor_controller"/>
    <node name="load_pptc" pkg="tubaf_common" type="ros_control_cli.py" respawn="false"
          output="screen" args="-d 2.5 -b pos_based_pos_traj_controller"/>
  </group>


</launch>

